body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.person {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: lightgreen;
}

.know-more {
  width: 300px;
  height: 200px;
  color: #fff;
  background-color: rgb(84, 21, 172);
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  padding: 20px;
}