* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #edc7b7;
  color: #123c69;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header div {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

h1 {
  margin: 1rem 0;
}

form {
  height: 0;
  opacity: 0;
}

form > div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 5px solid #ac3b61;
  gap: 10px;
  border-radius: 6px;
}

input {
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  outline: none;
  border-radius: 6px;
  border: none;
}