
/* 5.21 */



    /* :root {
    --background-color: #e5e5e5;
    --text-color: #48484a;
    --indicate: #e6e6e6;
    --bg-indicate: #48484a;
    --left-position: 5px;
    --rotate-angle: 0deg;
    }

    :root[data-theme="dark"] {
    --background-color: #100e1c; 
    --text-color: #e6e6e6; 
    --bg-indicate: #ec6e4d; 
    --left-position: 35px; 
    --rotate-angle: 360deg; 
    }

    body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background-color: var(--background-color);
    color: var(--text-color);
    }

    input {
    position: absolute;
    visibility: hidden;
    }

    label {
    position: relative;
    width: 64px;
    height: 32px;
    border: 2px solid #acacac;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    }

    .switch-block {
    position: absolute;
    left: var(--left-position);
    transform: rotate(var(--rotate-angle));
    transition: all 0.5s ease;
    }

    .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: background-color 0.5s ease;
    color: var(--indicate);
    background-color: var(--bg-indicate);
    cursor: pointer;
    } */


    /* 5.23.1 */

/* body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

#drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px dashed #ddd;
  border-radius: 18px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

#drop.dragover {
  background-color: #f0f0f0;
}

#drag {
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 100px;
  box-sizing: border-box;
  background-color: lightgreen;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#drag.dragging,
#drag-img.dragging {
  transform: scale(0.9);
  opacity: 0.7;
}

img {
  width: 150px;
} */




  /* 5.23.2 */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  min-height: 50px;
  background-color: #f9f9f9;
}

.answers {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


[id^="drag-item-"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  cursor: grab;
  border-radius: 5px;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
